/* from scaffold */
/* TODO: refactor styling */

div, body, li, h1, h2, h3, h4, h5 {padding:0px; margin:0px;}
body, p, ol, ul, td { font-family: 'Georgia', verdana, arial, helvetica, sans-serif; font-size:100%;}
ul, ol {padding:5px 0px;}

body {
	background-color: #fff; 
	color: #000; 
}
blockquote {
	font-family:"Georgia"; 
	line-height:120%; 
	margin-right:0px; 
	margin-left:0px;
}
blockquote em {
	font-family:"Georgia Italic";
}
cite {
	font-family:"Georgia Italic";
	display:block; 
	margin-top:10px;
}

#main .section {padding:30px 20%;}

#header {
	height:20px;
	padding:10px 15px; 
	margin:0px;
	background:#333; 
	font-family: "Gotham Rounded", Verdana;
}

#header a {color:white;}

#flash {padding:5px 15px; color:#fff;}
#flash.notice {background:#41D722;}
#flash.error {background:red;}

#welcome {background:#eee; }
#welcome p {font-size:1.5em;}

#get_started {background-color:#41D722; padding:10px; -webkit-border-radius:3px; font-size:1.8em; color:#fff; text-decoration:none; text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
 drop-shadow:1px 1px #000;     -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
#get_started:hover{background-color:#48eb28;}

#quotes_show .quote .text {font-size:3em;text-indent:-0.3em;  }
#quotes_show .quote cite {font-size: 2.5em;}


#quotes_index .quote .text,
#tags_show .quote .text {font-size:1.5em; padding:0px; margin:0px;}
#quotes_index .quote {border-bottom:1px solid #ccc; margin-bottom:20px;}
#quotes_index .quote cite,
#tags_show .quote cite {font-size:1.5em;}



#quotes_index .tag, #quotes_show .tag {font-size: 0.9em; display:inline; list-style-type:none;}
#quotes_index .tag, #quotes_show .tag a {color:#fff; background:#000; text-decoration:none; padding:3px;}
#quotes_index .tag, #quotes_show .tag a:hover {background:#ff9900;}