/* from scaffold */
/* TODO: refactor styling */

div, body, li {padding:0px;margin:0px;}
body, p, ol, ul, td {
  font-family: 'Georgia', verdana, arial, helvetica, sans-serif;
	font-size:100%;
}

ul {padding:5px 0px;}

div.field, div.actions {
  margin-bottom: 10px;
}


body {
	background-color: #fff; 
	color: #000; 
}
blockquote {
	font-family:"Georgia"; 
	line-height:120%; 
	margin-right:0px; 
	margin-left:0px;
}
blockquote em {
	font-family:"Georgia Italic";
}
cite {
	font-family:"Georgia Italic";
	display:block; 
	margin-top:10px;
}

.section#header {
	width:90%; 
	height:20px;
	padding:10px 5%; 
	margin:0px;
	background:#333; 
	font-family: "Gotham Rounded", Verdana;
}

.section#header a {color:white;}

.section#main {padding:0% 5%;}
#quotes_show .quote .text {font-size:3em;text-indent:-0.3em;  }
#quotes_show .quote cite {font-size: 2.5em;}


#quotes_index .quote .text,
#tags_show .quote .text {font-size:1.5em; padding:0px; margin:0px;}
#quotes_index .quote {border-bottom:1px solid #ccc; margin-bottom:20px;}
#quotes_index .quote cite,
#tags_show .quote cite {font-size:1.5em;}



.tag {font-size: 0.9em; display:inline; list-style-type:none;}
.tag a {color:#fff; background:#000; text-decoration:none; padding:3px;}
.tag a:hover {background:#ff9900;}