<h1 id=""><%= @user.username %></h1>
<% if !@user.tags.blank? %>
	<ul id="tags">
		<%= render @user.tags%>
	</ul>
<% else %>
  Tags will appear here as you add them to your quotes.
<% end %>
<h2>Your quotes:</h2>
<% if !@user.quotes.blank? %>
	<%= render @user.quotes %>
<% else %>
 		<p>You haven't added any quotes yet! <%= link_to "Add a quote", new_quote_path %> now.
	<% end %>
	


